body {
    background-color:#f9ffff;
}

#anim_div{
    bottom: 0
}
#animation_container {
    position: fixed;
    bottom: 0;
    text-align:center;
    margin-bottom:50px;
    left:0;
    right:0;
}
